* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

ul,
li {
  list-style: none;
}

.isRead {
  color: springgreen;
}

.isNotRead {
  color: tomato;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

img {
  display: block;
  width: 300px;
  height: auto;
  height: 450px;
}

.book-container ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
}

.book-container ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.container > h1 {
  margin-bottom: 2rem;
}
